
.mar-b20{
    margin-bottom: 20px;
}
.btn{
    padding: 6px 12px;
    outline: none;
    margin-left: -1px;
    border:1px solid #4788f4;
    background-color: #4788f4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    &--search{
        border-left:none ;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &:disabled{
        cursor:not-allowed;
        background-color: gray;
        border-color: gray;
    }
    &--success{
        background-color: rgba(25, 255, 25, 0.5);
        border-color:  rgba(25, 255, 25, 0.5);
    }
    img{
        vertical-align: middle;
        height: 25px;
        width: 25px;
    }
}
.search{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    &--box{
        border:  1px solid gray;
        border-right: none;
        outline: none;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 6px 12px;
        transition: all 5s ease-in 500ms;
        // &:focus{
        //     border:  1px solid #4788f4!important;
        //     width: 100%;
        // }
    }

    &--suggestions{
        // display: none;
        position: absolute;
        left: 0;
        right: 0;
        top:2rem;
        max-height: 150px;
        border: 1px solid gray;
        border-radius: 0.5rem;
        overflow: hidden;
        z-index: 10;
        background-color: #fff;
        div{
            padding: 0.3rem 0.75rem;
            &:hover{
                background-color: #e2e4e8;
            }
        }
    }
    // &:focus-within{
    //     .search--suggestions{
    //         display: block;
    //     }
    // }
}
.d-flex-center{
    display:flex;
    justify-content: center;
    align-items:center;
}
.ui-card{
    border: 1px solid  rgba(128, 128, 128, 0.4); 
    padding:1.25rem; 
    border-radius: 1rem;
    box-shadow:0 0 10px 3px rgba(grey,0.3);
    &__img{
        margin-right: 1rem;
        width:100% ;
        max-width:220px;
        height: 100%;
        max-height: 350px;
    }
    &__content{
        flex: 1;
        padding-left: 1rem;
    }
}

/* .select-box{
    width: 100%;
    max-width: 250px;
    height: 45px;
    position: relative;
    padding: 6px 12px;
    select{
        appearance: none;
        border: 1px solid #4788f4;
        background-color: white;
        color: #4788f4;
        padding: 5px 23px 5px 8px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border-bottom-width: 2px;
        outline: none;
        transition: all 0.2s ease-in;
        option{
            color: #000;
            background-color: #fff;
            &:hover{
                background-color: #000;
                color: red;
            }
        }
        &:focus{
            background-color:#4788f4;
            color: #fff;
            border-color:  #fff;
            ~ .select-box__icon{
                border-color: #fff;   
            }
        }
    }
    &__icon{
        position: absolute;
        top: 18px;
        right: 18px;
        height: 0.65rem;
        width: 0.65rem;
        pointer-events: none;
        border-left: 3px solid #4788f4;
        border-bottom: 3px solid #4788f4;
        transform: rotate(-45deg);

    }
}

.toggle-switch{
    $color1:rgba(#4788f4,0.7);
    $color2:#4788f4;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #e2e4e8;
    padding: 3px;
    position: relative;
    border-color: #4788f4;
    background:  rgba(#4788f4,0.1);
    &--sm{
    width: 30px;
    height: 15px;
        .toggle-switch__flipper{
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }
    }
    &__flipper{
        position: absolute;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #4788f4;
        background:  radial-gradient($color1, $color2);
    }
    &--on{
        .toggle-switch__flipper{
            right: 3px;
        }
    }
    &--off{
        .toggle-switch__flipper{
            left: 3px;
        }
    }
} */
/* .accordion{
    width: 100%;
    overflow: hidden;
    border: 1px solid grey;
    input{
        position: absolute;
        z-index: -1;
    }
    .accordion-content{
        max-height: 0;
        padding: 0 1rem;
    }
    label{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    input:checked{
        + label{
            color: red;
        }
        ~ .accordion-content{
            max-height: 100%;
            padding: 1rem;
        }
    }
} */

/* .typing-box{
    // width: 100%;
    max-width: 300px;
    height: 20px;
    max-height:120px;
    border-radius: 50px;
    background-color:#e2e4e8;
    position: relative;
    padding: 0.5rem 2.5rem 0.5rem 1.75rem;
    transition: padding 200ms ease 75ms;
    &--text-input{
        padding-right: 1.35rem;
    }
    &__input{
        border: none;
        outline: none;
        resize: none;
        max-height: 100px;
        height: 100%;
        background: #e2e4e8;   
    }
    &__icon{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        margin-right: 0.25rem;
    }
    .camera{
        right: 2px;
        opacity: 1;
        transition:opacity 10ms, right 200ms linear 60ms;
        &--right{
          opacity: 0;
          right: -10px;
        }
    }
    .attachment{
        right: 22px;
        transition:right 200ms linear 30ms;
        &--right{
            right: 0!important;
        }
    }
    
    
} */