
.mar-b10{
    margin-bottom: 10px;
}
.search{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    &--box{
        border:  1px solid gray;
        border-right: none;
        outline: none;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 6px 12px;
        transition: all 5s ease-in 500ms;
        &:focus{
            border:  1px solid #4788f4!important;
            width: 100%;
        }
    }
    &--btn{
        padding: 6px 12px;
        outline: none;
        margin-left: -1px;
        border:1px solid #4788f4;
        border-left:none ;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #4788f4;
        color: #fff;
        &:disabled{
            cursor:not-allowed;
            background-color: gray;
            border-color: gray;
        }
    }
}
